<nav class="navbar navbar-default">
    <h1 class="navbar-text">Jeopardy</h1>
    <audio class="audio-jep">
    	<source src="trebeck.mp3"></source>
    </audio>
</nav>

<div class="row score">
  <div class="col-md-12">
  score: {{score}}
</div>
</div>


<div class="row">
  <div class="col-md-2" ng-repeat="category in HomeCtrl.categories">
    <div class="well">
    <p>{{ category.data.title }}</p>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2" ng-repeat="category in HomeCtrl.categories">
    <jeopardy-reader question=category.data></jeopardy-reader>
  </div>
</div>
